html{
  font-size:62.5%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#root{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
  background: #8E4EB1;
  background: -webkit-linear-gradient(top left, #8E4EB1, #02FADA);
  background: -moz-linear-gradient(top left, #8E4EB1, #02FADA);
  background: linear-gradient(to bottom right, #8E4EB1, #02FADA);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
